<h1> 
  My name is <%= @name %> and my age is <%= @age %>
</h1>
<form action="/named_cat">
<input type= "text" name="name">
<input type="submit" value="Submit">
</form>
<div style='border: 4px dashed red; width: 454px'>
  <img src='http://bit.ly/1eze8aE'>
</div>
